@{
    ViewBag.Title = "About Me";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>I am a dedicated senior at Ohio University with over 15 years of both personal and professional IT experience. As a passionate perfectionist, I leave no problem unsolved. I strive to be both a great leader and team-member in all that I do. I am a Management Information Systems major expecting to graduate Fall 2019.</p>
