@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>David Arman</h1>
    <p class="lead">A Management Information Systems Senior at Ohio University.</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Professionalism</h2>
        <p>
            I am a dedicated senior at Ohio University with over 15 years of both personal and professional IT experience. As a passionate perfectionist, I leave no problem unsolved. I strive to be both a great leader and team-member in all that I do. I am a Management Information Systems major expecting to graduate Fall 2019.
        </p>
        <p><a class="btn btn-default" href="https://www.linkedin.com/in/davidarman/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>SD2</h2>
        <p> Click Below to see SD2 </p>
        <br /> @Html.ActionLink("Students", "Index", "Students")
        <br /> @Html.ActionLink("Courses", "Index", "Courses")
        <br /> @Html.ActionLink("Course Details", "Index", "CourseDetails")


    </div>
    <div class="col-md-4">
        <h2>Contact Me</h2>
        <p>You can easily contact with me by following the link below.</p>
        <p><a class="btn btn-default" href="~/Home/Contact">Contact Me &raquo;</a></p>
    </div>
</div>